.wrapper {
  .list {
    list-style: none;
    padding: 20px;
    margin: 0;

    li {
      background: #fff;
      margin-bottom: 20px;
      padding: 10px;
      color: #000;
      border-radius: 20px;
      display: flex;
      align-items: center;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;

      img {
        width: 30px;
        height: auto;
      }

      span {
        padding-left: 10px;
      }
    }
  }
}