.wrapper {
  padding: 20px;
  padding-top: 10px;
  text-align: center;

  .balance {
    font-weight: bold;
    color: #9855cf;
    padding-bottom: 10px;
    display: flex ;
    justify-content: center;
    align-items: center;
    
    img {
      padding-left: 5px;
      width: 20px;
      height: auto;
    }

    span {
      background: #fff;
      border-radius: 10px;
      padding: 5px;
      display: flex;
      align-items: center;
      font-size: 15px;
    }
  }

  button {
    border: none;
    background-color: #ffdc00;
    color: #9855cf;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    width: 172px;
  }
}