body {
  margin: 0;
  font-family: -apple-system, 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(to bottom, #9b5dc9, #9751d1, #9145d9, #8938e1, #8029ea, #7522df, #691bd4, #5e13c9, #5115a8, #451689, #38156b, #2c134e); */
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  /* user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
  /* touch-action: manipulation; */
  overscroll-behavior: none;
  background: #351465;
  overflow-wrap: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.disabled-scroll {
  overflow: hidden;
}

#root {
  min-height: 100vh;
}

h1 { 
  text-transform: uppercase;
  font-size: 20px;
}

img {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}
